{% include "header.html" %}


    
<div id="tooplate_content">

	<h2>Our Galleries</h2>
    <div id="gallery">
       	<div class="g_box">
            <a href="/static/images/gallery/image_01_b.jpg" class="pirobox" title="Photo 1">
                <img src="/static/images/gallery/image_01.jpg" alt="Image 01" />
            </a>
            <p>Nunc suscipit nulla sit amet libero sollicitudin et hendrerit leo tempus.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
        <div class="g_box">
            <a href="/static/images/gallery/image_02_b.jpg" class="pirobox" title="Photo 2"><img src="/static/images/gallery/image_02.jpg" alt="Image 02" /></a>
            <p>Vestibulum lacus nulla, tincidunt sed imperdiet at. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
        <div class="g_box rm_col">
            <a href="/static/images/gallery/image_03_b.jpg" class="pirobox" title="Photo 3"><img src="/static/images/gallery/image_03.jpg" alt="Image 03" /></a>
            <p>Etiam eu ipsum a arcu sodales consequat sit amet at orci. Nulla in luctus elit.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
        <div class="cleaner"></div>
		
        <div class="g_box">
            <a href="/static/images/gallery/image_04_b.jpg" class="pirobox" title="Photo 4"><img src="/static/images/gallery/image_04.jpg" alt="Image 04" /></a>
            <p>Divamus interdum, tortor at pellentesque pulvinar, diam quam blandit nulla.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
        <div class="g_box">
            <a href="/static/images/gallery/image_05_b.jpg" class="pirobox" title="Photo 5"><img src="/static/images/gallery/image_05.jpg" alt="Image 05" /></a>
            <p>Integer fermentum arcu vitae sem condimentum vel posuere massa facilisis.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
        <div class="g_box rm_col">
            <a href="/static/images/gallery/image_06_b.jpg" class="pirobox" title="Photo 6"><img src="/static/images/gallery/image_06.jpg" alt="Image 06" /></a>
            <p>Vivamus consectetur magna eget est commodo sed ullamcorper diam pharetra.</p>
            <div class="button"><a href="#">Visit site</a></div>
		</div>
		
    	<div class="cleaner"></div>
    </div>
	
    <div class="cleaner"></div>
</div>

{% include "footer.html" %}